@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
	border-size: border-box;
}

html, body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	background: #001d2b;
	overflow-x: hidden;
}
