$line-height: 10vh;
$back: #215773;

.crypto-digest {
	width: 100vw;
	height: $line-height;
	cursor: default;
	display: flex;
	flex-direction: column;
	transition: all 0.5s ease-in-out;
	font-family: 'Share Tech Mono', monospace;
	border: 1px solid #ffffe6;
	overflow: hidden;
}

.crypto-digest:hover {
	background: #042c40;
	cursor: default;
}

.active-digest {
	height: $line-height + 15vh;
	background: #042c40;
	opacity: 1;
}

.crypto-expand {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border-size: border-box;
	font-family: 'Share Tech Mono', monospace;
	font-size: 1rem;
	color: #f7ede2;
}

.extra-info {
	display: flex;
	height: 0vh;
	font-family: 'Share Tech Mono', monospace;
	font-size: 1rem;
	color: #f7ede2;
	opacity: 0;
	transition: all 0.7s ease-in-out;
}

.extra-active {
	height: 10vh;
	opacity: 1;
	transition: all 0.7s ease-in-out;
}

.crypto-info {
	display: flex;
	width: 28vw;
	height: $line-height;
	margin-left: 1%;
	margin-right: 1%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.crypto-logo {
	width: 50px;
	height: 50px;
	margin-left: 1%;
}

.crypto-name {
	width: 15vw;
	height: $line-height;
	background: yellow;
}

.crypto-price {
	width: 15vw;
	height: $line-height;
	background: pink;
}

.market-flux {
	width: 22vw;
	height: $line-height;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.circulating-supply {
	width: 25vw;
	height: $line-height;
}

.arrow {
	margin-right: 1vw;
	font-size: 1.2rem;
}

.arrow-up {
	color: green;
	transform: rotate(270deg);
}

.arrow-down {
	color: red;
	transform: rotate(90deg);
}

.market-cap {
	width: 20vw;
	height: $line-height;
	background: green;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-left: 2%;
}

.market-rank {
	width: 45vw;
	height: $line-height;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-left: 1%;
}

.percent-mined {
	width: 45vw;
	height: $line-height;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-left: 1%;
}

.high-24 {
	width: 12vw;
	height: $line-height;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-left: 1%;
}

.low-24 {
	width: 12vw;
	height: $line-height;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-left: 1%;
}
