@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

header {
	width: 100vw;
	height: 10vh;
	background-image: url('assets/bitcoin.webp');
	background-size: cover;
	display: flex;
	padding-left: 5%;
	color: #f7ede2;
	align-items: center;
	font-family: 'Press Start 2P';
	font-size: 2vw;
}
